.container {
  width: 100%;
  height: 100%;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: var(--color-white);
  font-size: var(--font-size-default);
}

.textarea {
  width: 100%;
  padding: 16px;
  background: none;
  color: var(--color-white);
  border: var(--border-default);
  font-size: var(--font-size-default);
  border-radius: var(--border-radius-default);
}
