.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  margin: 0 1rem;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 640px) {
  .content {
    max-width: 520px;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}

.edit {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.question-container {
  gap: 1.5rem;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
  flex-direction: column;
  color: var(--color-white);
}

.buttons {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
